Repository slds-lmu/lecture_i2ml, pull requests merged in 2022-04, with the labels that each got.

#673 finalize loss-properties slides
  slides-pdf/slides-advriskmin-losses-properties.pdf
  slides/advriskmin/figure/lasso_penalized.png
  slides/advriskmin/figure/lasso_penalty.png
  slides/advriskmin/figure/lasso_unpenalized.png
  slides/advriskmin/figure/loss_dist_based.png
  slides/advriskmin/figure/loss_symmetric.png
  slides/advriskmin/figure/loss_transl_inv.png
  slides/advriskmin/figure/plot_bernoulli.png
  slides/advriskmin/figure/plot_loss_overview_classif_2.png
  slides/advriskmin/figure/robustness.png
  slides/advriskmin/figure/softmax_1.png
  slides/advriskmin/figure/softmax_2.png
  slides/advriskmin/rsrc/lasso.R
  slides/advriskmin/rsrc/loss_properties.R
  slides/advriskmin/rsrc/make_loss_bernoulli_plots.R
  slides/advriskmin/rsrc/make_loss_overview_classif_plot.R
  slides/advriskmin/rsrc/make_robustness_plot.R
  slides/advriskmin/rsrc/softmax_fun.R
  slides/advriskmin/slides-advriskmin-losses-properties.tex
Labels: hiwi, WIP DONT MERGE YET, chap-advriskmin

#771 Logreg plotlabel
  slides-pdf/slides-classification-logistic.pdf
  slides/supervised-classification/figure/reg_class_log_5.pdf
  slides/supervised-classification/figure/reg_class_log_6.pdf
  slides/supervised-classification/figure/reg_class_log_7.pdf
  slides/supervised-classification/rsrc/fig-reg_class_log_3.R
  slides/supervised-classification/rsrc/fig-reg_class_log_4.R
Labels: chap-classif, hiwi

#762 Clarified k-neighborhood definition
  slides-pdf/slides-knn.pdf
  slides/knn/slides-knn.tex
Labels: hiwi, chap-knn

#770 Clean up a few files for chapter boosting
  slides/boosting/figure/boosting_interaction_example_ID2.png
  slides/boosting/figure/boosting_interaction_example_gam.png
  slides/boosting/figure/illustration_gaussian_L2_1.png
  slides/boosting/figure/illustration_gaussian_L2_10.png
  slides/boosting/figure/illustration_gaussian_L2_100.png
  slides/boosting/figure/illustration_gaussian_L2_2.png
  slides/boosting/figure/illustration_gaussian_L2_3.png
  slides/boosting/figure/split_finding_1.png
  slides/boosting/figure/split_finding_2.png
  slides/boosting/figure_man/boosting_classif_title.PNG
  slides/boosting/figure_man/boosting_interact_expl1.PNG
  slides/boosting/figure_man/boosting_interact_expl2.PNG
  slides/boosting/figure_man/boosting_interaction_example_ID2.png
  slides/boosting/figure_man/boosting_interaction_example_gam.png
  slides/boosting/figure_man/split-finding01.png
  slides/boosting/figure_man/split-finding02.png
  slides/boosting/rsrc/boosting-trees-interaction-example.R
  slides/boosting/rsrc/ggsave-1.R
  slides/boosting/rsrc/ggsave-3.R
  slides/boosting/rsrc/ggsave-5.R
  slides/boosting/rsrc/ggsave-6.R
  slides/boosting/rsrc/ggsave-7.R
  slides/boosting/rsrc/make_split_finding_plots.R
  slides/boosting/slides-boosting-gbm-classification.tex
  slides/boosting/slides-boosting-gbm-with-trees-1.tex
  slides/boosting/slides-boosting-xgboost.tex
Labels: hiwi, chap-boosting

#766 Update Advanced Risk Minimizers slides (minor updates) + Update README.md typo
  README.md
  slides/advriskmin/figure/pseudo_residual_1.png
  slides/advriskmin/figure/pseudo_residual_2.png
  slides/advriskmin/figure/residuals_plot_Huber_Gaussian.pdf
  slides/advriskmin/figure/residuals_plot_Huber_L1.pdf
  slides/advriskmin/figure/residuals_plot_L1.pdf
  slides/advriskmin/figure/residuals_plot_L1_title.png
  slides/advriskmin/figure/residuals_plot_L2.pdf
  slides/advriskmin/figure/residuals_plot_L2_title.png
  slides/advriskmin/figure_man/pseudo_residual_1.png
  slides/advriskmin/figure_man/pseudo_residual_2.png
  slides/advriskmin/rsrc/make_pseudo_residual_plots.R
  slides/advriskmin/rsrc/make_residual_plots.R
  slides/advriskmin/slides-advriskmin-max-likelihood-other.tex
  slides/advriskmin/slides-advriskmin-pseudo-residuals.tex
  slides/advriskmin/slides-advriskmin-risk-minimizer.tex
Labels: hiwi, chap-advriskmin
