Repository slds-lmu/lecture_i2ml, pull requests merged in 2022-02, with the labels that each got.

#747 added new pdfs
  slides-pdf/slides-boosting-gbm-classification.pdf
  slides-pdf/slides-boosting-gbm-regularization.pdf
  slides-pdf/slides-boosting-regression-illustrations.pdf
Labels: chap-boosting

#749 IC 12 usecase
  exercises/tuning-resampling/ex_rnw/ex_research_group_tuning-resampling.Rnw
  exercises/usecase/ex_rnw/ex_usecase.Rnw
  exercises/usecase/ic_usecase.Rnw
Labels: inv-classroom

#748 migrate exercises Janek created/modified for Dortmund
  exercises/evaluation/collection_eval.Rnw
  exercises/evaluation/ex_rnw/ex_benchmark.Rnw
  exercises/evaluation/ex_rnw/ex_eval_knn.Rnw
  exercises/evaluation/ex_rnw/sol_benchmark.R
  exercises/evaluation/ex_rnw/sol_eval_knn.Rnw
  exercises/forests/collection_forests.Rnw
  exercises/forests/ex_rnw/ex_bagging.Rnw
  exercises/forests/ex_rnw/sol_bagging.Rnw
  exercises/ml-basics/collection_ml-basics.Rnw
  exercises/ml-basics/ex_rnw/ex_lin_reg_2.Rnw
  exercises/ml-basics/ex_rnw/sol_lin_reg_2.Rnw
Labels: exercises

#752 added new boosting slides
  slides-pdf/slides-boosting-gbm-with-trees-1.pdf
  slides-pdf/slides-boosting-gbm-with-trees-2.pdf
Labels: chap-boosting

#754 added new slides
  slides-pdf/slides-boosting-xgboost.pdf
Labels: chap-boosting
