Repository slds-lmu/lecture_i2ml, pull requests merged in 2022-05, with the labels that each got.

#775 Makefile IC
  exercises-pdf/ic_cart.pdf
  exercises-pdf/ic_classification-1.pdf
  exercises-pdf/ic_classification_2.pdf
  exercises-pdf/ic_classification_extra.pdf
  exercises-pdf/ic_concepts.pdf
  exercises-pdf/ic_forests.pdf
  exercises-pdf/ic_ml-basics-concepts.pdf
  exercises-pdf/ic_ml-basics.pdf
  exercises-pdf/ic_questions.pdf
  exercises-pdf/ic_regression.pdf
  exercises-pdf/ic_sol_cart.pdf
  exercises-pdf/ic_sol_classification_1.pdf
  exercises-pdf/ic_sol_classification_2.pdf
  exercises-pdf/ic_sol_forests.pdf
  exercises-pdf/ic_sol_train-test.pdf
  exercises-pdf/ic_sol_tuning-resampling.pdf
  exercises-pdf/ic_train-test.pdf
  exercises-pdf/ic_tuning-resampling.pdf
  exercises-pdf/ic_usecase.pdf
  exercises/Makefile
  exercises/chapter.mk
Labels: hiwi, inv-classroom

#780 fixed notation
  exercises-pdf/sol_ml-basics.pdf
  exercises/ml-basics/ex_rnw/sol_ml_proj.Rnw
Labels: exercises

#779 Add exercise collection for chapter 12: Multi-class Classification
  exercises-pdf/collection_multiclass.pdf
  exercises/multiclass/collection_multiclass.Rnw
  exercises/multiclass/ex_rnw/ex_softmax_mnist.Rnw
Labels: exercises, hiwi, chap-multiclass

#781 Added information theory exercise collection.
  exercises-pdf/collection_information_theory.pdf
  exercises/information-theory/collection_information_theory.Rnw
Labels: exercises, hiwi, chap-info-theory

#782 Added exercises to regularization collection.
  exercises-pdf/collection_regularization.pdf
  exercises/regularization/collection_regularization.Rnw
Labels: exercises, hiwi, chap-regu

#783 Added exercises to svm collection.
  exercises-pdf/collection_svm.pdf
  exercises/svm/collection_svm.Rnw
Labels: exercises, hiwi, chap-linear-svm, chap-non-linear-svm

#785 Add Exercises Collection for Gradient Boosting
  exercises-pdf/collection_boosting.pdf
  exercises/boosting/collection_boosting.Rnw
Labels: exercises, hiwi, chap-boosting

#786 add solution to hyp spaces tasks IC 2
  exercises-pdf/ic_sol_regression.pdf
  exercises/supervised-regression/ex_rnw/sol_research-group.Rnw
  exercises/supervised-regression/ic_sol_regression.Rnw
Labels: hiwi, inv-classroom

#777 Added exercise collection for chapter 11: Advanced Risk Minimization
  exercises-pdf/collection_advriskmin.pdf
  exercises/advriskmin/collection_advriskmin.Rnw
Labels: hiwi, chap-advriskmin

#787 replaces /ln with /log
  slides-pdf/slides-advriskmin-classification-bernoulli.pdf
  slides-pdf/slides-advriskmin-max-likelihood-other.pdf
  slides-pdf/slides-classification-logistic.pdf
  slides-pdf/slides-info-cross-entropy-kld.pdf
  slides-pdf/slides-info-diffent.pdf
  slides-pdf/slides-info-kl.pdf
  slides-pdf/slides-info-ml.pdf
  slides-pdf/slides-info-mutual-info.pdf
  slides/advriskmin/slides-advriskmin-classification-bernoulli.tex
  slides/advriskmin/slides-advriskmin-max-likelihood-other.tex
  slides/information-theory/slides-info-cross-entropy-kld.tex
  slides/information-theory/slides-info-diffent.tex
  slides/information-theory/slides-info-kl.tex
  slides/information-theory/slides-info-ml.tex
  slides/information-theory/slides-info-mutual-info.tex
  slides/supervised-classification/slides-classification-logistic.tex
Labels: chap-classif, chap-eval, hiwi, chap-advriskmin, chap-info-theory
