Repository slds-lmu/lecture_i2ml, pull requests merged in 2022-06, with the labels that each got.

#772 Create learning-goals.md
  learning-goals/learning-goals.md
Labels: course-orga, hiwi

#792 visualization of qda decision boundaries with diff. ranges
  slides/supervised-classification/figure/reg_class_qda10x20.pdf
  slides/supervised-classification/figure/reg_class_qda150x150.pdf
  slides/supervised-classification/rsrc/fig-reg_class_qda.R
Labels: chap-classif, hiwi

#796 removed collection files
  exercises-pdf/collection_advriskmin.pdf
  exercises-pdf/collection_boosting.pdf
  exercises-pdf/collection_gp.pdf
  exercises-pdf/collection_information_theory.pdf
  exercises-pdf/collection_multiclass.pdf
  exercises-pdf/collection_regularization.pdf
  exercises-pdf/collection_svm.pdf
Labels: exercises

#794 fixed train-vs-test error figure, now has fixed n_train
  slides-pdf/slides-evaluation-test.pdf
  slides/evaluation/figure/fig-train-vs-test-error-3.pdf
  slides/evaluation/rsrc/train-vs-test-error.R
Labels: chap-eval, hiwi

#799 added errata hint to new website
  Errata.txt
Labels: website, hiwi

#802 creates figure for a kNN model with AUC = 0
  slides/evaluation/figure/eval_bad_model_auc.pdf
  slides/evaluation/rsrc/fig-eval_bad_model_auc.R
Labels: chap-eval, hiwi, inv-classroom
