Repository slds-lmu/lecture_i2ml, pull requests merged in 2022-01, with the labels that each got.

#733 cleaned up exercises & collection files
  exercises/evaluation/collection_eval.Rnw
  exercises/knn/Makefile
  exercises/knn/collection_knn.Rnw
  exercises/knn/ex_advriskmin.Rnw
  exercises/knn/ex_rnw/ex_knn_manh.Rnw
  exercises/knn/ex_rnw/sol_knn_from_scratch.R
  exercises/knn/ex_rnw/sol_knn_manh.Rnw
  exercises/knn/sol_advriskmin.Rnw
  exercises/ml-basics/ex_rnw/ex_ml_proj.Rnw
  exercises/ml-basics/ex_rnw/sol_ml_proj.Rnw
  exercises/ml-basics/figure/knn_manh.pdf
  exercises/ml-basics/figure/knn_manh3.pdf
  exercises/ml-basics/figure/knn_manh5.pdf
  exercises/ml-basics/figure/knn_manh7.pdf
  exercises/supervised-classification/collection_classification.Rnw
  exercises/trees/collection_trees.Rnw
Labels: exercises

#735 IC Random Forests
  exercises/forests/ex_rnw/ex_research_group_forests.Rnw
  exercises/forests/ex_rnw/sol_research_group_forests.Rnw
  exercises/forests/ic_forests.Rnw
  exercises/forests/ic_sol_forests.Rnw
Labels: inv-classroom

#738 added hat symbols to theta
  exercises-pdf/ex_classification_1.pdf
  exercises-pdf/sol_classification_1.pdf
  exercises/supervised-classification/ex_rnw/ex_logreg_dec_boundaries_enhanced.Rnw
  exercises/supervised-classification/ex_rnw/sol_logreg_dec_boundaries_enhanced.Rnw
Labels: chap-classif, exercises

#739 drafted exercise random forest
  exercises-pdf/ex_forests.pdf
  exercises-pdf/sol_forests.pdf
  exercises/forests/ex_forests.Rnw
  exercises/forests/ex_rnw/ex_dec_boundaries.Rnw
  exercises/forests/ex_rnw/ex_spam.Rnw
  exercises/forests/ex_rnw/sol_dec_boundaries.R
  exercises/forests/ex_rnw/sol_spam.Rnw
  exercises/forests/sol_forests.Rnw
Labels: exercises, chap-forests

#743 IC 11 tuning nested res
  exercises/tuning-resampling/ex_rnw/ex_research_group_tuning-resampling.Rnw
  exercises/tuning-resampling/ex_rnw/sol_research_group_tuning-resampling.Rnw
  exercises/tuning-resampling/ic_sol_tuning-resampling.Rnw
  exercises/tuning-resampling/ic_tuning-resampling.Rnw
Labels: inv-classroom
